<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div style="width:800; text-align: center; margin:50px"> <a href="CientsView.cfm"><img src="images/live.png" width="400" height="400" border="0" /></a>
<form action="" method="get">
<table width="400" border="0" align="center" cellpadding="5" cellspacing="0">
  <tr>
    <td align="center">&nbsp;</td>
    <td height="0" align="center">&nbsp;</td>
  </tr>
  <tr>
    <td align="right">EMail</td>
    <td align="left"><label for="textfield"></label>
      <input name="textfield" type="text" class="formText" id="textfield" size="50" maxlength="255" /></td>
  </tr>
  <tr>
    <td align="right">Password</td>
    <td align="left"><table width="350" border="0">
      <tr>
        <td width="100"><input name="textfield2" type="text" class="formText" id="textfield2" size="38" maxlength="255" /></td>
        <td align="left"><input type="submit" class="formText" value="Log In" /></td>
      </tr>
    </table></td>
  </tr>
  </table>
</form>

</div>



</body>
</html>