<cfparam name="imgURL" default="">

<cfif imgURL NEQ ''>

    <cfinvoke component="CFC.Quiz" method="uploadFile" returnvariable="anImagePath">
      <cfinvokeargument name="fileToUpload" value="imgURL"/>
      <cfinvokeargument name="choiceID" value="#choiceID#"/>
    </cfinvoke>

<cfdump var="#anImagePath#">

</cfif>


