<cfset imgData = binaryDecode(data,'hex')> 
<cfset myImage=ImageNew(imgData)>
 
<cfinvoke component="cfc.saveImage" method="ImageSave" returnvariable="success">
 <cfinvokeargument name="fileName" value="#name#"/>
  <cfinvokeargument name="data" value="#imgData#"/>
  <cfinvokeargument name="assetID" value="#assetID#"/>
</cfinvoke>
