<cfinvoke  component="LiveAPI" method="getAppPrefs" returnvariable="appInfo">
            <cfinvokeargument name="bundleID" value="com.onesquared.christ_church"/>
        </cfinvoke>

<cfdump var="#appInfo#">
<cfabort>



<cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
	<cfinvokeargument name="email" value="T9384MB"/>
	<cfinvokeargument name="pass" value="B1uttn58@120"/>
	<!--- <cfinvokeargument name="auth_token" value="WVjAFIEAm0NxbI0loRP3DhSf894r"/> --->
	<cfinvokeargument name="bundleID" value="com.liveadz.sample"/>
</cfinvoke>


<cfdump var="#data#">
<cfabort>


<cfinvoke component="CFC.oAuth" method="oAuth" returnvariable="data">
	<cfinvokeargument name="bundleID" value="com.liveadz.sample"/>
	<cfinvokeargument name="userCode" value="T9384MB"/>
	<cfinvokeargument name="userPass" value="B1uttn58@120"/>
</cfinvoke>


<cfdump var="#data#">
<cfabort>



<cfset getToken = false>

<!--- get token --->
<cfif getToken>

	<cftry>

	   <cfset token = {}>

		<cfhttp url="https://federation-stage.chrysler.com/as/token.oauth2" method="POST" throwOnError="no" redirect="no" timeout="10" result="token_result">
			<cfhttpparam name="grant_type" type="FormField" value="password">
			<cfhttpparam name="validator_id" type="FormField" value="CorpLDAP">
			<cfhttpparam name="client_id" type="FormField" value="ro_klokwerks">
			<cfhttpparam name="username" type="FormField" value="T9384MB">
			<cfhttpparam name="password" type="FormField" value="B1uttn58@120">
		</cfhttp>

		<cfif isJSON(token_result.Filecontent)>
			<cfset auth_data = DeserializeJSON(#token_result.Filecontent#)>
			<cfset token = {"token": auth_data.access_token, "refresh_token": auth_data.refresh_token, "expires": auth_data.expires_in}> 
		<cfelse>
			<!--- Enter Error Handeling --->
		</cfif>

		<cfcatch type="any">
			<cfoutput>
				#cfcatch.message#
			</cfoutput>
		</cfcatch>

	</cftry>

	<cfdump var="#token#">
	<cfabort>

</cfif>


<cfset atoken = "DGqAb1LGSFmL5hAPCFmKbJvBvJIu">
<cfset arefreshtoken = "iximUHstMdx1viuwFJOGjxkawvLNnCWKtGXqcmKUrw">

<!--- validate token --->
<cftry>
   
   <cfset user = {}>
   
    <cfhttp url="https://federation-stage.chrysler.com/as/token.oauth2" method="POST" throwOnError="no" redirect="no" timeout="10" result="token_result">
        <cfhttpparam name="grant_type" type="FormField" value="urn:pingidentity.com:oauth2:grant_type:validate_bearer">
        <cfhttpparam name="client_id" type="FormField" value="rs_klokwerks">
        <cfhttpparam name="client_secret" type="FormField" value="nfrjMoSzMMNldLZNPcl9n6KBDqEyHODueBD1fFNouS2s5vWREcv4X34UpUbWUePX">
        <cfhttpparam name="token" type="FormField" value="#atoken#">
    </cfhttp>

    <!--- <cfdump var="#token_result#"> --->

  <cfif isJSON(token_result.Filecontent)>
       
        <cfset auth_data = DeserializeJSON(#token_result.Filecontent#)>
        
        <cfif structKeyExists(auth_data,"error")>
        <cfif auth_data.error IS "invalid_grant">
	
		<!--- refresh token --->
		Expired
		<cftry>
		
			<cfhttp url="https://federation-stage.chrysler.com/as/token.oauth2" method="POST" throwOnError="no" redirect="no" timeout="10" result="token_result">
				<cfhttpparam name="grant_type" type="FormField" value="refresh_token">
				<cfhttpparam name="client_id" type="FormField" value="ro_klokwerks">
				<cfhttpparam name="refresh_token" type="FormField" value="#arefreshtoken#">
			</cfhttp>

			<cfif isJSON(token_result.Filecontent)>
				<cfset auth_data = DeserializeJSON(#token_result.Filecontent#)>
				<cfdump var="#auth_data#"><cfabort>
			<cfelse>
				<!--- Enter Error Handeling --->
			</cfif>

			<cfcatch type="any">
				<cfoutput>
					#cfcatch.message#
				</cfoutput>
			</cfcatch>

		</cftry>
			
		<cfelse>
			Different error
		</cfif>
		
	<cfelse>
	
		<cfset user = {"first": auth_data.access_token.USER_FIRST_NAME, "last": auth_data.access_token.USER_LAST_NAME, "tid": auth_data.access_token.UID}>
        <cfset token.expires = auth_data.expires_in>
        
	</cfif>
       
    <cfdump var="#auth_data#">
        
    <cfelse>
        <!--- Enter Error Handeling --->
    </cfif>

    <cfcatch type="any">
        <cfoutput>
            #cfcatch.message#
        </cfoutput>
    </cfcatch>
    
</cftry>

<!--- <cfif auth_data.error IS "invalid_grant">
	
	<!--- refresh token --->
	<cftry>
		<cfhttp url="https://federation-stage.chrysler.com/as/token.oauth2" method="POST" throwOnError="no" redirect="no" timeout="10" result="token_result">
			<cfhttpparam name="grant_type" type="FormField" value="refresh_token">
			<cfhttpparam name="client_id" type="FormField" value="ro_klokwerks">
			<cfhttpparam name="refresh_token" type="FormField" value="#token.refresh_token#">
		</cfhttp>

		<!--- <cfdump var="#token_result#"> --->

		<cfif isJSON(token_result.Filecontent)>
			<cfset auth_data = DeserializeJSON(#token_result.Filecontent#)>
			<cfdump var="#auth_data#">
		<cfelse>
			<!--- Enter Error Handeling --->
		</cfif>

		<cfcatch type="any">
			<cfoutput>
				#cfcatch.message#
			</cfoutput>
		</cfcatch>

	</cftry> 

<cfdump var="#auth_data#"><cfabort>
	
</cfif> --->

<!--- <cfdump var="#auth_data.error#"> --->
<!--- <cfdump var="#user#">
<cfdump var="#token#"> --->
<cfabort>




<!--- <cfinvoke component="CFC.stats" method="devicesTypes" returnvariable="data">
	<cfinvokeargument name="clientID" value="39"/>
	<cfinvokeargument name="appID" value="49"/>
</cfinvoke>
<cfdump var="#data#"> --->

<!--- <cfinvoke component="CFC.stats" method="OsDeviceTypes" returnvariable="data">
	<cfinvokeargument name="clientID" value="39"/>
	<cfinvokeargument name="appID" value="49"/>
</cfinvoke>	
<cfdump var="#data#"> --->

<!--- <cfinvoke component="CFC.stats" method="numberOfUsers" returnvariable="data">
	<cfinvokeargument name="clientID" value="39"/>
	<cfinvokeargument name="appID" value="49"/>
</cfinvoke>		
		
<cfdump var="#data#">	 --->

<!--- <cfinvoke component="CFC.stats" method="numberOfGuests" returnvariable="data">
	<cfinvokeargument name="clientID" value="39"/>
	<cfinvokeargument name="appID" value="49"/>
</cfinvoke>		
		
<cfdump var="#data#">	 --->



<!--- <cfinvoke component="CFC.stats" method="getLastTrackedDate" returnvariable="data">
	<cfinvokeargument name="clientID" value="39"/>
	<cfinvokeargument name="appID" value="49"/>
</cfinvoke>		
		
<cfdump var="#data#"> --->

<cfinvoke component="CFC.stats" method="getTrackedRange" returnvariable="data">
	<cfinvokeargument name="clientID" value="39"/>
	<cfinvokeargument name="appID" value="49"/>
</cfinvoke>		
		
<cfdump var="#data#">	



<cfabort>



<cfinvoke  component="CFC.Content" method="getAssetContent" returnvariable="skyObj">
	<cfinvokeargument name="assetID" value="17676"/>
</cfinvoke>

<cfdump var="#skyObj#">
<cfabort>
	

		
			
				
					
						
							
								
									
										
											
													
<cfinvoke component="CFC.clean" method="assessAssets" returnvariable="content">
	<cfinvokeargument name="appID" value="1113"/>
</cfinvoke>
				
<cfabort>
					
					
					
					
					<cfinvoke component="liveAPI" method="getSpecialContent" returnvariable="content">
						<cfinvokeargument name="bundleID" value="com.thecorner.rblarson"/>
						<cfinvokeargument name="groupName" value="Background"/>
						<cfinvokeargument name="rebuildSpecialContent" value="true"/>
					</cfinvoke>
    		
    		 <cfdump var="#content#"><cfabort>
    		
    		<cfabort>
     		

     		     		
     		     		     		     		
       		
       		<cfinvoke component="CFC.Content" method="getGroupContent" returnvariable="assets">
            <cfinvokeargument name="groupID" value="27936"/>
        </cfinvoke>
       		
       		
        <cfdump var="#assets#">
		
		<cfabort>

       		
       		 		 		
       <cfset appID = 1112>
           
        <cfinvoke  component="CFC.Apps" method="generateContentJSON" returnvariable="data">
            <cfinvokeargument name="appID" value="#appID#"/>
            <cfinvokeargument name="groupID" value="-1"/>
        </cfinvoke>
        
        <cfdump var="#data#">
		
		<cfabort>		
			
				
						
<cfinvoke  component="API.V11.CFC.Content" method="getGroupContent" returnvariable="contentData">
  <cfinvokeargument name="groupID" value="13570"/>
  <cfinvokeargument name="appID" value="71"/>
  <cfinvokeargument name="reservedType" value="0"/>
  <cfinvokeargument name="viewType" value="2"/>
</cfinvoke> 
				
 
<cfdump var="#contentData#">
 

 <cfinvoke  component="CFC.Content" method="getGroupContent" returnvariable="skyObj">
  <cfinvokeargument name="groupID" value="13570"/>
  <cfinvokeargument name="appID" value="71"/>
  <cfinvokeargument name="reservedType" value="0"/>
  <cfinvokeargument name="viewType" value="2"/>
</cfinvoke>
			
<cfdump var="#skyObj#">
			

<cfabort>  




	<cfset fileName = 'pin.png'>
		
			<cfset theFilePath = GetTempDirectory() & fileName>
 			
  			<cfset assetData = {'assetID':13494}>
   			<cfset imageSize = {'width':100 ,'height':100}>
   			<cfset thumbData = {'thumb':{'file':fileName, 'size': imageSize}, 'thumbnail':theFilePath}>

			<cfinvoke component="CFC.Assets" method="getAllAssetDetails" returnvariable="details">          
                    <cfinvokeargument name="assetID" value="13494"/>
</cfinvoke>
		
				<cfinvoke component="CFC.Misc" method="log">
                  <cfinvokeargument name="fileName" value="tempLog"/>
                  <cfinvokeargument name="data" value="#details#"/>
                </cfinvoke>
		
		<cfdump var="#details#"><cfabort>
		
			<cfinvoke component="CFC.Assets" method="updateThumbnail" returnvariable="updatedThumbnail">
				<cfinvokeargument name="assetData" value="#assetData#"/>
				<cfinvokeargument name="thumbData" value="#thumbData#"/>
			</cfinvoke>
            
<cfdump var="#updatedThumbnail#">
 <cfabort>       

<cfset theFile = assetPath & asset.thumbnail>

<cfdump var="#expandPath(theFile)#">
<cfabort>




 
 <cfinvoke component="liveAssets" method="getAppID" returnvariable="appID">
  <cfinvokeargument name="bundleID" value="#bundleID#"/>
</cfinvoke>
 
<cfhttp url="apitest.liveplatform.net/rest/live/users/mboni@klokwerks.com/21/b1uttn58"
        method="get"
        result="resultJSON">
    <cfhttpparam type="header"
                 name="Accept"
                 value="application/json">
</cfhttp>
<cfdump var="#deserializeJSON(resultJSON.filecontent)#"><cfabort>





 <cfdump var="#token#"><cfabort>

 <cfinvoke component="liveAssets" method="getAppID" returnvariable="appID">
  <cfinvokeargument name="bundleID" value="com.klokwerks.visualizer"/>
</cfinvoke>

<cfset assetsToDelete = [22871, 22901]>

<cfinvoke component="CFC.GroupedAssets" method="deleteAssets" returnvariable="deletedAssets">
	<cfinvokeargument name="appID" value="#appID#"/>
	<cfinvokeargument name="assetIDs" value="#assetsToDelete#"/>
</cfinvoke>

<cfdump var="#deletedAssets#"><cfabort>


<cfset data1 = {"name":"Sample1", "x":10, "y":10, "alignH":0, "alignV":0, "assetID": 22871}>
<cfset data2 = {"name":"Sample3", "x":100, "y":100, "alignH":0, "alignV":0, "assetID": 0}>

<cfset allData = [data1, data2]>

<cfinvoke component="liveAssets" method="syncAllPins" returnvariable="synced">
	<cfinvokeargument name="bundleID" value="com.klokwerks.visualizer"/>
	<cfinvokeargument name="imageAssetID" value="13343"/>
	<cfinvokeargument name="data" value="#allData#"/>
</cfinvoke>



<cfdump var="#synced#"><cfabort>



<cfinvoke  component="liveAssets" method="getMappedAssets" returnvariable="assets">
	<cfinvokeargument name="bundleID" value="com.thecorner.rblarson"/>
</cfinvoke>

<cfdump var="#assets#">

<cfinvoke  component="CFC.Assets" method="getAssets" returnvariable="assetData">
	<cfinvokeargument name="AppID" value="1113"/>
	<!--- <cfinvokeargument name="assetID" value="22650"/> --->
	<cfinvokeargument name="AssetTypeID" value="1"/>
</cfinvoke>

<cfdump var="#assets#"><cfabort>






<cfinvoke  component="CFC.Assets" method="getAssets" returnvariable="assetData">
	<cfinvokeargument name="AppID" value="1113"/>
	<!--- <cfinvokeargument name="assetID" value="22650"/> --->
	<cfinvokeargument name="AssetTypeID" value="1"/>
</cfinvoke>

<cfdump var="#assetData#"><cfabort>

<!--- <cfset sample = [1,2,3,4,5]>
<cfloop array="#sample#" index="item">

        <cfif item IS 3>
            <cfcontinue>
        </cfif>
<cfdump var="#item#">
</cfloop>
<cfabort> --->

<cfset appID = 71>
<cfset groupPath = "/Bradley Commons/BC Singles Bungalows/Models/44ft">
<cfset assetID = 22278>




<cfquery name="contentAsset">
    SELECT  instanceName AS path
    FROM 	ContentAssets
    WHERE asset_id = #assetID#
</cfquery>

<cfset groupPath = contentAsset.path>

<cfinvoke component="CFC.GroupedAssets" method="groupPathVerified" returnvariable="ok">
	<cfinvokeargument name="appID" value="#appID#"/>
	<cfinvokeargument name="groupPath" value="#groupPath#"/>
</cfinvoke> 

<cfdump var="#ok#">
<cfabort>

<cfquery name="assets">
	SELECT        app_id, group_id, subgroup_id, name
	FROM            Groups
	WHERE        (app_id = #appID#) AND name = 'Bradley Commons'
</cfquery>

<cfquery name="assets">
	SELECT        app_id, group_id, subgroup_id, name
	FROM            Groups
	WHERE         name = 'BC Singles Bungalows' AND subgroup_id = 22288
</cfquery>

<cfquery name="assets">
	SELECT        app_id, group_id, subgroup_id, name
	FROM            Groups
	WHERE         name = 'Site Plan' AND subgroup_id = 25606
</cfquery>

<cfdump var="#crumb#">
<cfabort>


<cfquery name="assets">
	SELECT        Assets.name, Thumbnails.image, Assets.thumb_id AS id
	FROM          Assets INNER JOIN Thumbnails ON Assets.thumb_id = Thumbnails.thumb_id
	WHERE        (Assets.name LIKE '%CG Lot%')
</cfquery>

<cfloop query="#assets#">

	<cfset newName = ReReplace(image, "[[:space:]]","","ALL")>

	<cfquery name="updateAssets">
		UPDATE Thumbnails
		SET image = '#newName#'
		WHERE thumb_id = #id#
	</cfquery>

</cfloop>

<cfdump var="#assets#"><cfabort>

<cfinvoke component="CFC.Content" method="getSpecialContent" returnvariable="bk">
	<cfinvokeargument name="appID" value="71"/>
	<cfinvokeargument name="groupName" value="Breadcrumb"/>
</cfinvoke> 

<cfdump var="#bk#"><cfabort>

<cfinvoke component="CFC.Content" method="getSpecialContent" returnvariable="theme">
	<cfinvokeargument name="appID" value="100"/>
	<cfinvokeargument name="groupName" value="Theme"/>
</cfinvoke> 

<cfdump var="#theme#">
<cfabort>

<cfset appID = 71>
<cfset groupName = "Background">
 
             
        <!--- <cfloop query="#specialContent#">

			<cfinvoke  component="CFC.Content" method="getAssetContent" returnvariable="assetData">
				<cfinvokeargument name="assetID" value="#assetID#"/>
			</cfinvoke>
			
			<cfif byAssetID>
			
				<cfloop collection="#assetData#" item="theKey"></cfloop>
				
				<cfset structAppend(assetData[theKey], {"name": "#name#"})>
				
				<cfset assetIDTag = assetData[theKey].assetID>
				
				<cfset assetDataStruct = {#assetIDTag#: assetData[theKey]}>
				
				<!--- <cfset assetData[theKey].assetID = groupID> --->
				
				<cfset structAppend(data, assetDataStruct)>

			<cfelse>
			
				<cfloop collection="#assetData#" item="theKey"></cfloop>
				<!--- <cfset data[theKey].assetID = groupID> --->
				<cfset structAppend(data, assetData)>
	
			</cfif>

		</cfloop> --->               
              
                            
        <!--- find all groups with groupName --->
        <cfquery name="specialContent"> 
            SELECT group_id AS groupID, subgroup_id
            FROM Groups where app_id = #appID# 
            AND name = '#groupName#'
        </cfquery>
																											<cfdump var="#specialContent#">
        <cfset contentAssets = structNew()>
        
<cfoutput query="specialContent">

            <cfinvoke component="CFC.Modules" method="GroupAssetIsActive" returnvariable="activeGroupAsset">
				<cfinvokeargument name="groupID" value="#groupID#"/>
			</cfinvoke> 
			
			<cfif activeGroupAsset>

				<cfquery name="assets">
					SELECT        Groups.asset_id AS assetID
					FROM          Groups INNER JOIN Assets ON Groups.asset_id = Assets.asset_id
					WHERE        (Groups.subgroup_id = #groupID#) AND (Groups.active = 1)
				</cfquery>
				
				<cfset allAssets = []>
				
				<cfloop query="assets">
					
					<cfinvoke  component="CFC.Content" method="getAssetContent" returnvariable="assetData">
						<cfinvokeargument name="assetID" value="#assetID#"/>
					</cfinvoke>
					
					<cfset arrayAppend(allAssets, assetData)>
						
				</cfloop>
				
				<cfset structAppend(contentAssets, {"#groupID#": allAssets})>
				
			</cfif>
            	
 		 </cfoutput>	
        
          
          																								<cfdump var="#contentAssets#"> 
           <cfabort> 
            																																				   																																				   																																				
            <!--- create struct from Assets --->
<cfloop collection="#theAssetInfo#" item="theKey"></cfloop>
            
            <cfset theAssets = theAssetInfo[theKey]>
          
            <!--- check type  --->
<cfif array IS 1>
            	<cfset contentAssets = arrayNew(1)>
            <cfelse>
            	<cfset contentAssets = structNew()>
            </cfif>

           <!--- Assets --->
<cfloop index="anAsset" array="#theAssets#">
            	
            	<cfloop collection="#anAsset#" item="theAssetKey"></cfloop>
            	
            	<cfinvoke component="CFC.Modules" method="GroupAssetIsActive" returnvariable="activeGroupAsset">
					<cfinvokeargument name="assetID" value="#anAsset[theAssetKey].assetID#"/>
					<cfinvokeargument name="groupID" value="#group_id#"/>
			    </cfinvoke> 
            
            	<cfif activeGroupAsset>

                <!--- <cfif structKeyExists(anAsset[#theAssetKey#],'width') OR structKeyExists(anAsset[#theAssetKey#],'height')> --->
                
                <!--- image --->
                <cfif anAsset[theAssetKey].assetType IS 1>
                
					<cfset w = anAsset[theAssetKey].width>
                    <cfset h = anAsset[theAssetKey].height>
                    
                    <cfif w IS 0 OR h IS 0>
                    	<cfset r = 0>
                    <cfelse>
                    	<cfset r = w/h>
                    </cfif>
                    
                    <cfif structKeyExists(anAsset[theAssetKey],'url')>
						<cfset structAppend(anAsset[theAssetKey],{"image":{"height":h, "width":w, "ratio":r, "url":{}}})>
                        
                         <cfif structKeyExists(anAsset[theAssetKey].url,'xdpi')>
                            <cfset structAppend(anAsset[theAssetKey].image.url,{"xdpi":anAsset[theAssetKey].url.xdpi.url})>
                        </cfif>
                        
                        <cfset structDelete(anAsset[theAssetKey],'url')>
                        <cfset structDelete(anAsset[theAssetKey],'width')>
                        <cfset structDelete(anAsset[theAssetKey],'height')>
                	</cfif>
                    
                <cfelseif anAsset[theAssetKey].assetType IS 23>
                
                	<cfset structAppend(anAsset[theAssetKey], {"asset_id":anAsset[theAssetKey].assetID})>
                	
					<cfinvoke component="CFC.ObjectModels" method="SceneModel" returnvariable="objectModel">
						<cfinvokeargument name="objectData" value="#anAsset[theAssetKey]#">
					</cfinvoke>

                	<cfloop collection="#objectModel#" item="theKeyModelType"></cfloop>
                	
                	<cfset anAsset[theAssetKey] = objectModel[theKeyModelType]>

				</cfif>
              		
              		<cfset assets = []>
                	<cfset actions = []>
                	
                	<cfif structKeyExists(anAsset[theAssetKey],"assets")>
                		<cfset assets = anAsset[theAssetKey].assets>
					</cfif>
               		<cfif structKeyExists(anAsset[theAssetKey],"actions")>
                		<cfset actions = anAsset[theAssetKey].actions>
                	</cfif>
               		
               		<cfif arrayLen(assets) GT 0>
                		<cfset structAppend(objectModel[theKeyModelType], {"assets": assets})>
                	</cfif>
                	
                	<cfif arrayLen(actions) GT 0>
                		<cfset structAppend(objectModel[theKeyModelType], {"actions": actions})>
                	</cfif>
                	
               		<cfset assetName = theAssetKey><!--- use instance name --->
               		
               		<cfif structKeyExists(anAsset[theAssetKey],'details')>
                
						<cfif structKeyExists(anAsset[theAssetKey].details,'title')>
							<cfset assetName = anAsset[theAssetKey].details.title><!--- use title --->
							<cfset structDelete(anAsset[theAssetKey],'details')>
						<cfelse>
							<cfset assetName = theAssetKey><!--- use instance name --->
						</cfif>

                	</cfif>
               		
                	<cfset theObj = {"#assetName#":anAsset[theAssetKey]}>

					<!--- check type --->
					<cfif array IS 1>
						<cfset arrayAppend(contentAssets,theObj)>
					<cfelse>
						<cfset structAppend(contentAssets,theObj)>
					</cfif>
				
           		</cfif>
           		
            </cfloop>
            
            <cfset structDelete(theGroupInfo,'groupID')>
            <cfset structDelete(theGroupInfo,'modified')>
           
            <!--- <cfif NOT structIsEmpty(theGroupInfo)>
            
				<!--- check type --->
                <cfif array IS 1>
                    <cfset arrayAppend(contentAssets,theGroupInfo)>
                <cfelse>
                    <cfset structAppend(contentAssets,theGroupInfo)>
                </cfif>
			
            </cfif> --->
          
            <!--- <cfif isArray(contentAssets)>
            
				<cfif arrayLen(contentAssets) GT 0>
                    <cfset structAppend(specialStruct,{"#subgroup_id#":contentAssets})>
                </cfif>
            
            <cfelse>
            	<cfif structCount(contentAssets) GT 0>
            	 	<cfset structAppend(specialStruct,{"#subgroup_id#":contentAssets})>
                </cfif>
            </cfif> --->
        
        <!--- </cfoutput> --->
		  
		  
		  <cfdump var="#specialStruct#">
		  <cfabort>
		  
		  
		  
		  
		  
			  

			  <cfinvoke  component="CFC.Content" method="getAssetContent" returnvariable="skyObj">
				  <cfinvokeargument name="assetID" value="10137"/>
</cfinvoke>
				
 
<cfdump var="#skyObj#">
<cfabort>       

                
                                
<cfinvoke  component="CFC.Content" method="generateSpecialContent" returnvariable="data">
	<cfinvokeargument name="bundleID" value="com.solmar.kiosk"/>
	<cfinvokeargument name="appID" value="103"/>
	<cfinvokeargument name="groupName" value="Background"/>
</cfinvoke>

<cfdump var="#data#">
<cfabort>


<cfinvoke  component="CFC.Content" method="getSpecialContent" returnvariable="data">
	<cfinvokeargument name="bundleID" value="com.solmar.kiosk"/>
	<cfinvokeargument name="groupName" value="Background"/>
	<!--- <cfinvokeargument name="array" value="1"/> --->
</cfinvoke>

<cfinvoke  component="CFC.Content" method="generateSpecialContent" returnvariable="data">
	<cfinvokeargument name="bundleID" value="com.solmar.kiosk"/>
	<cfinvokeargument name="groupName" value="Background"/>
	<!--- <cfinvokeargument name="array" value="1"/> --->
</cfinvoke>
				
<cfdump var="#data#">
<cfabort> 


<cfset email = "mboni@klokwerks.com">
	<cfset result={}>
		
		<cfinvoke  component="API.V11.CFC.Errors" method="getError" returnvariable="error">
			<cfinvokeargument name="error_code" value="1000"/>
		</cfinvoke>
		
		<cfquery name="apps">
			SELECT DISTINCT Users.app_id, Applications.appName AS app
			FROM            Users INNER JOIN Applications ON Users.app_id = Applications.app_id
			WHERE           Users.email = '#trim(email)#'
		</cfquery>
		
		<cfinvoke component="API.V11.CFC.Misc" method="QueryToStruct" returnvariable="userApps">
			<cfinvokeargument name="query" value="#apps#"/>
			<cfinvokeargument name="forceArray" value="true"/>
		</cfinvoke>
 		
		<cfset structAppend(result,{"data":#userApps#})>
		<cfset structAppend(result,{"error":#error#})>

<cfdump var="#result#">
<cfabort>


<!--- <cfquery name="carts">
	SELECT cart_id AS cartID, email, CONTENTIDS, app_ID
	FROM SessionCart
	WHERE sent IS NULL
</cfquery> 

<cfdump var="#carts#">
--->

<!--- 
<cfset groupID = 24166>
<cfset assetID = 24166>

<cfquery name="content">
	SELECT       group_id
	FROM         Groups
	WHERE		 0 = 0
				<cfif groupID GT '0'>
					AND (subgroup_id = #groupID# OR group_id = #groupID#) 
				</cfif>
				<cfif assetID GT '0'>    
					AND (asset_id = #assetID# OR asset_id  IS NULL)
				</cfif>
</cfquery>
        
        
      <cfdump var="#content#"><cfabort>   --->
	
<cfinvoke component="CFC.EMail" method="sendEmail" returnvariable="sentEmail">
	<cfinvokeargument name="cartID" value="6251"/>
	<cfinvokeargument name="emailVerified" value="1"/>
</cfinvoke>
                
<cfdump var="#sentEmail#"><cfabort>
	
	<cfinvoke component="CFC.EMail" method="sendEmail" returnvariable="sentEmail">
		<cfinvokeargument name="cartID" value="6251"/>
		<cfinvokeargument name="emailVerified" value="1"/>
	</cfinvoke>
                
<cfdump var="#sentEmail#">
<cfabort>
               


    
           
           
<cfinvoke  component="Modules" method="getContentAsset" returnvariable="theAssetData">
	<cfinvokeargument name="assetID" value="#asset.assetID#"/>
</cfinvoke>




<cfquery name="carts">
	SELECT cart_id AS cartID, email
	FROM SessionCart
	WHERE sent IS NULL
</cfquery>


<cfloop query="carts">

	<!--- check if email address is valid --->
	<cfhttp result="result" method="GET" charset="utf-8" url="http://apilayer.net/api/check?access_key=fc44ff1c93937cdcb210b7e87e3b7e40&email=#email#&smtp=1&format=1"></cfhttp>
	<cfset theData = deserializeJson(result.Filecontent)>
	
	<cfif theData.error.code IS 104>
		<cfset found = "0">
	<cfelse>
		<cfset found = theData.mx_found>
	</cfif>
	
	<cfinvoke component="CFC.EMail" method="sendEmail" returnvariable="sentEmail">
		<cfinvokeargument name="cartID" value="#cartID#"/>
		<cfinvokeargument name="emailVerified" value="#found#"/>
	</cfinvoke>
                
</cfloop>


<cfabort>



<cfquery name="groupContent">
	SELECT        Assets.asset_id AS assetID, Groups.group_id AS groupID, Assets.name, GroupAssets.asset_id AS groupAssetID
	FROM            Assets LEFT OUTER JOIN
							 GroupAssets ON Assets.asset_id = GroupAssets.content_id LEFT OUTER JOIN
							 Groups ON Assets.asset_id = Groups.asset_id
	WHERE        (Assets.app_id = 104)
</cfquery>

<cfset notUsed = []>

<cfloop query="#groupContent#">

	<cfif groupID GT 0>

	<cfelse>
		<cfif groupAssetID GT 0>
		<cfelse>
			<cfset arrayAppend(notUsed, assetID)>
			<cfdump var="#name#">-<cfdump var="#groupID#">-<cfdump var="#groupAssetID#"><br>
		</cfif>
	</cfif>

</cfloop>		

<cfdump var="#notUsed#">
<cfabort>



<cfinvoke  component="CFC.Content" method="getAssetContent" returnvariable="data">
	<cfinvokeargument name="assetID" value="20318"/>
</cfinvoke>
	
<cfset JSON = serializeJSON(data)>
		
<cfdump var="#JSON#">
<cfabort>

	

			
<cfinvoke  component="CFC.Content" method="getAssetContent" returnvariable="data">
	<cfinvokeargument name="assetID" value="20318"/>
</cfinvoke>
	
<cfset JSON = serializeJSON(data)>
		
<cfdump var="#JSON#">
<cfabort>
			
			
			<cfquery name="groupContent">
				SELECT      liveinventory.dbo.Units.unit_id AS id, liveinventory.dbo.Units.name,
                        liveinventory.dbo.UnitSize.leftSpace AS [left], liveinventory.dbo.UnitSize.rightSpace AS [right], liveinventory.dbo.UnitSize.rearSpace AS rear, 
                        liveinventory.dbo.UnitSize.setbackSpace AS setBack, liveinventory.dbo.UnitSize.area, liveinventory.dbo.Views.northView AS n, 
                        liveinventory.dbo.Views.southView AS s, liveinventory.dbo.Views.eastView AS e, liveinventory.dbo.Views.westView AS w
			FROM        liveinventory.dbo.Units LEFT OUTER JOIN
                        liveinventory.dbo.Views ON liveinventory.dbo.Units.views_id = liveinventory.dbo.Views.view_id LEFT OUTER JOIN
                        liveinventory.dbo.UnitSize ON liveinventory.dbo.Units.size_id = liveinventory.dbo.UnitSize.size_id
                        
            WHERE 		unit_id = 10
			</cfquery>


<cfdump var="#groupContent#">
<cfabort>
		
			<cfquery name="defaultOptions">
				SELECT     liveinventory.dbo.Options.option_id AS id, liveinventory.dbo.Options.name, liveinventory.dbo.OptionDefaults.cost, liveinventory.dbo.Options.productType_id AS product
				FROM       liveinventory.dbo.Options LEFT OUTER JOIN liveinventory.dbo.OptionDefaults ON liveinventory.dbo.Options.option_id = liveinventory.dbo.OptionDefaults.option_id
				WHERE     (liveinventory.dbo.OptionDefaults.app_id =104) AND (liveinventory.dbo.Options.productType_id = 1)
			</cfquery>
		
		
		<cfdump var="#defaultOptions#">
		<cfabort>


<cfinvoke  component="CFC.Content" method="getSpecialContent" returnvariable="data">
	<cfinvokeargument name="bundleID" value="com.one2.noblesquare"/>
	<cfinvokeargument name="appID" value="101"/>
	<cfinvokeargument name="groupName" value="Background"/>
	<cfinvokeargument name="array" value="1"/>
</cfinvoke>


    
<cfdump var="#data#"><cfabort>
						
												
<cfinvoke  component="LiveAPI" method="getVersionUpdate" returnvariable="data">
	<cfinvokeargument name="bundleID" value="com.lanterra.artistalley"/>
	<cfinvokeargument name="version" value="11"/>
</cfinvoke>


    
<cfdump var="#data#">

<!--- <script>
	
	function timeAgoFromEpochTime(epoch) {

		var secs = ((new Date()).getTime() / 1000) - epoch;
		Math.floor(secs);
		var minutes = secs / 60;
		secs = Math.floor(secs % 60);
		if (minutes < 1) {
			return secs + (secs > 1 ? ' seconds ago' : ' second ago');
		}
		var hours = minutes / 60;
		minutes = Math.floor(minutes % 60);
		if (hours < 1) {
			return minutes + (minutes > 1 ? ' minutes ago' : ' minute ago');
		}
		var days = hours / 24;
		hours = Math.floor(hours % 24);
		if (days < 1) {
			return hours + (hours > 1 ? ' hours ago' : ' hour ago');
		}
		var weeks = days / 7;
		days = Math.floor(days % 7);
		if (weeks < 1) {
			return days + (days > 1 ? ' days ago' : ' day ago');
		}
		var months = weeks / 4.35;
		weeks = Math.floor(weeks % 4.35);
		if (months < 1) {
			return weeks + (weeks > 1 ? ' weeks ago' : ' week ago');
		}
		var years = months / 12;
		months = Math.floor(months % 12);
		if (years < 1) {
			return months + (months > 1 ? ' months ago' : ' month ago');
		}
		years = Math.floor(years);
		return years + (years > 1 ? ' years ago' : ' years ago');
	}
	

	console.log(timeAgoFromEpochTime(1495556283));
	console.log(timeAgoFromEpochTime(1495556281));
	
</script> --->



<cfabort>


<cfset groupID = 13575>

<cfinvoke  component="CFC.generateData" method="generateData" returnvariable="data">
	<cfinvokeargument name="groupID" value="#groupID#"/>
	<cfinvokeargument name="appID" value="17"/>
	<!--- <cfinvokeargument name="fullStructure" value="#fullStructure#"/> --->
</cfinvoke>

<cfabort>
 

 
 <cfinvoke  component="CFC.Modules" method="getGroupAssets" returnvariable="data">
  <cfinvokeargument name="groupID" value="13575"/>
  <cfinvokeargument name="appID" value="71"/>
</cfinvoke>
            
    
<cfdump var="#data#">
<cfabort>  

 

 <cfinvoke  component="CFC.Content" method="getSpecialContent" returnvariable="data">
  <cfinvokeargument name="appID" value="90"/>
  <cfinvokeargument name="groupName" value="Background"/>
</cfinvoke>

  <cfdump var="#data#">
  <cfabort>

 
 




 
 <cfinvoke  component="CFC.Modules" method="getGroupAssets" returnvariable="data">
 <cfinvokeargument name="groupID" value="0"/> 
  <!--- <cfinvokeargument name="assetID" value="17676"/> --->
  <cfinvokeargument name="appID" value="71"/>
</cfinvoke>

<cfset structAppend(data,{"error":0})>
    <cfset JSON = serializeJSON(data)>

<cfdump var="#JSON#">
<cfabort>  




 
 <cfinvoke  component="CFC.generateData" method="generateData" returnvariable="data">
  <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfset structAppend(data,{"error":0})>
    <cfset JSON = serializeJSON(data)>

<cfdump var="#JSON#">
<cfabort>  


 
 
 

 <cfinvoke  component="CFC.Registration" method="authenticateUserCms" returnvariable="user">
  <cfinvokeargument name="email" value="mboni@klokwerks.com"/>
  <cfinvokeargument name="pass" value="mboni"/>
</cfinvoke>

<cfdump var="#user#">
<cfabort> 


<!--- Clean Up Duplicate Tokens --->

<cfquery name="users">
	SELECT DISTINCT       user_id
	FROM          Tokens
	ORDER BY user_id
</cfquery>
             
             <cfset deleteTokens = []>
              
<cfoutput query="users">
       
       <cfquery name="tokenCount">
			SELECT  *
			FROM          Tokens
			WHERE user_id = #user_id#
		</cfquery>
      
      <cfif tokenCount.recordCount GT 1>
      
       <cfquery dbtype="query" name="allTokens" maxrows="#tokenCount.recordCount-1#">    
			SELECT  token_id
			FROM          tokenCount
			ORDER BY modified ASC         
		</cfquery>
    	
		<cfset i = 0>
    	<cfquery name="tokensDeleted">
			DELETE FROM Tokens
			WHERE 
			<cfloop query="allTokens"> 
				token_id = #allTokens.token_id#
				<cfif i LT allTokens.recordCount-1>OR</cfif>
				<cfset i++>
			</cfloop>
		</cfquery>
     	
	 </cfif>
       
</cfoutput> 
    <cfdump var="#deleteTokens#"><cfabort>
    <cfabort>
 

 <cfinvoke  component="CFC.Modules" method="getGroups" returnvariable="projects">
  <cfinvokeargument name="appID" value="71"/>
  <cfinvokeargument name="subgroupID" value="0"/>
</cfinvoke>

<cfdump var="#projects#">
<cfabort>  




<cfinvoke  component="CFC.Modules" method="getGroupAssets" returnvariable="assetData">
  <cfinvokeargument name="groupID" value="16141"/>
</cfinvoke>

<cfdump var="#assetData#">
<cfabort>  



<cfinvoke component="CFC.Apps" method="getPaths" returnvariable="assetPaths">
    <cfinvokeargument name="appID" value="51"/>
</cfinvoke>

<cfdump var="#assetPaths#">
<cfabort>  


<cfinvoke  component="CFC.Apps" method="getClientApps" returnvariable="apps">
  <cfinvokeargument name="clientID" value="57"/>
</cfinvoke>

<cfoutput>
    <select>
    <cfloop query="#apps#">
        <option value="#APP_ID#">#APPNAME#</option>
    </cfloop>
    </select>
</cfoutput>

<cfdump var="#apps#">
<cfabort>  


         
            
<cfinvoke  component="LiveAPI" method="getSpecialContent" returnvariable="data">
  <cfinvokeargument name="bundleID" value="com.klokwerks.visualizer"/>
  <cfinvokeargument name="groupName" value="Background"/>
</cfinvoke>


<cfdump var="#data#">
<cfabort> 


<cfinvoke  component="LiveAPI" method="getAppPrefs" returnvariable="p">
  <cfinvokeargument name="bundleID" value="com.one2.eifs">
</cfinvoke>

<cfdump var="#p#">
<cfabort>  


<cfinvoke  component="CFC.Content" method="getAssetContent" returnvariable="data">
  <cfinvokeargument name="assetID" value="13531"/>
</cfinvoke>
            
    
<cfdump var="#data#">
<cfabort>     

<cfoutput>#GetTempDirectory()#</cfoutput>


<cfinvoke component="liveAPI" method="getDynamicContent" returnvariable="data">
      <cfinvokeargument name="auth_token" value="47186F5E-155D-20D6-046368940637E374"/>
      <cfinvokeargument name="date" value="1477398457"/>
      <cfinvokeargument name="assetID" value="12180"/>  
</cfinvoke>
             
         
<cfdump var="#data#">    
<cfabort>




<!--- <cfinvoke component="CFC.Modules" method="updateGroupAssetActionDate" returnvariable="updatedAsset">
    <cfinvokeargument name="assetID" value="12399"/>
</cfinvoke> 

<cfdump var="#updatedAsset#">  --->


<cfquery name="pinInfo">
SELECT *
FROM GroupAssets
WHERE content_id = 12399
</cfquery>

<cfdump var="#pinInfo#">   

<cfquery name="assetInfo">
SELECT *
FROM Groups
WHERE asset_id = #pinInfo.asset_id#
</cfquery>


<cfdump var="#assetInfo#">   
  

<cfabort>

<cfinvoke component="CFC.Misc" method="convertDateToEpoch" returnvariable="curDate" />

<cfdump var="#curDate#">    
<cfabort>

<cfinvoke component="API.V11.CFC.Misc" method="convertEpochToDate" returnvariable="theDate">
    <cfinvokeargument name="theDate" value="#date#"/>
</cfinvoke>
                 
<cfdump var="#theDate#">    
<cfabort>

                 

<cfinvoke component="CFC.registration" method="getRegistrations" returnvariable="data">
      <cfinvokeargument name="appID" value="78"/>
      <cfinvokeargument name="projID" value="13434"/>
</cfinvoke>
             
    <cfdump var="#data#">    
<cfabort>
         





 <cfinvoke component="LiveAPI" method="customerRegistration" returnvariable="data">
     <cfinvokeargument name="firstName" value="Mike"/>
     <cfinvokeargument name="lastName" value="Bonifacio"/>
     <cfinvokeargument name="email" value="mikeboni@hotmail.com"/>
     <cfinvokeargument name="phone" value="905-303-2320"/>
     <cfinvokeargument name="postalZip" value="L4K-5S4"/><!--- 90306 --->
     <cfinvokeargument name="city" value="Toronto"/>
     <cfinvokeargument name="howHear" value="4"/> <!--- Google --->
     <cfinvokeargument name="auth_token" value="C963E847-155D-20D6-04499EB8D8A9C12E"/><!--- lanterra --->
     <cfinvokeargument name="projectID" value="11541"/>
 </cfinvoke>
 
 
 
 
 <cfdump var="#data#">
 <cfabort>


<cfinvoke component="CFC.Modules" method="getGroupContent" returnvariable="data">
      <cfinvokeargument name="groupID" value="12428"/>
</cfinvoke>
             
         
<cfdump var="#data#">    
<cfabort>


Scr1234&bundleid=com.rodeoperformer.lanterra&user=screen1@klokwerks.com

<cfquery name="data"> 
    SELECT        Tokens.token_id, Tokens.token, Users.name, Users.email, Users.password
    FROM            Tokens INNER JOIN
                            Users ON Tokens.user_id = Users.user_id
    WHERE        (Tokens.app_id = 75)
</cfquery>

<cfdump var="#data#">
<cfabort>

authenticateuser&pass=Scr1234&bundleid=com.rodeoperformer.lanterra&user=screen1@klokwerks.com

<cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
  <cfinvokeargument name="pass" value=""/>
  <cfinvokeargument name="bundleid" value="com.rodeoperformer.lanterra"/>
  <cfinvokeargument name="email" value="screen1@klokwerks.com"/>
</cfinvoke>


<cfdump var="#data#">

<cfabort>
  



<cfinvoke component="LiveAPI" method="getContentByUserAccess" returnvariable="data">
  <cfinvokeargument name="auth_token" value="2AD08B14-C6A4-D239-0C7AB087A086EFF2"/>
</cfinvoke>


<cfdump var="#data#">

<cfabort>
  
  
  
  
  

<script language="javascript">
var jsonAuth = 
{
  "name": "dropbox",
  "strategy": "oauth2",
  "options": {
    "client_id": "{YOUR_DROPBOX_APP_KEY}",
    "client_secret": "{YOUR_DROPBOX_APP_SECRET}",
    "authorizationURL": "https://www.dropbox.com/1/oauth2/authorize",
    "tokenURL": "https://api.dropbox.com/1/oauth2/token",
    "scope": [],
    "scripts": {
      "fetchUserProfile": "function(accessToken,ctx,cb){request.get('https://api.dropbox.com/1/account/info',{headers:{'Authorization':'Bearer '+accessToken}},function(e,r,b){if(e) return cb(e);if(r.statusCode!==200) return cb(new Error('StatusCode: '+r.statusCode));var profile=JSON.parse(b);cb(null,{user_id:profile.uid,family_name:profile.name_details.surname,given_name:profile.name_details.given_name,email:profile.email,email_verified:profile.email_verified,locale:profile.locale,is_paired:profile.is_paired,country:profile.country,dropbox_team:profile.team,dropbox_referral_link:profile.referral_link});});}"
    }
  }
};

console.log(jsonAuth);

</script>

<cfdump var="#authCode#"><cfabort>

<cfset liAccessTokenURL = "https://www.linkedin.com/uas/oauth2/accessToken?grant_type=authorization_code" &
                "&code=IeEEFzC9mp8AAAAAAAAnBP-xxxADZxT_KPLQviXcR-Opa5uR835dqu89YBBmUvbD&redirect_uri=http://liveplatform.net" & 
                "&client_id=8yc4rc6agjsca8k" & 
                "&client_secret=6p0f7nhvyuhjngf">
                
	<cfhttp url="#liAccessTokenURL#">

<cfif isJSON(cfhttp.filecontent)>
		<cfset res = deserializeJSON(cfhttp.filecontent)>
		<cfset session.liaccesstoken = res.access_token>
		<cflocation url="index.cfm" addtoken="false">
	<cfelse>
		<!---
		This is an error case. 
		--->
		<cfdump var="#cfhttp#">
	</cfif>

<cfabort>


<!---   {"web":{
  "client_id":"182302332905-k7nhbtljun1fm1qo9faf14urirolc7us.apps.googleusercontent.com",
  "project_id":"klokwerks.com:api-project-182302332905",
  "auth_uri":"https://accounts.google.com/o/oauth2/auth",
  "token_uri":"https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs",
  "client_secret":"IE4yFr1RCbO-OdFj5RzOYfsg"}}
   --->


<cfif NOT isDefined("session.myGreeting")>

<cfset Greeting = CreateObject("Component", "CFC.oauth2") />
    
    <cfset session.myGreeting = Greeting.init(
        client_id="8yc4rc6agjsca8k", 
        client_secret="6p0f7nhvyuhjngf", 
        authEndpoint="", 
        accessTokenEndpoint="IeEEFzC9mp8AAAAAAAAnBP-xxxADZxT_KPLQviXcR-Opa5uR835dqu89YBBmUvbD", 
        redirect_uri=""
    ) />

</cfif>

<!--- <cfinvoke  component="test" method="init" returnvariable="initRet">
	<cfinvokeargument name="client_id" value="182302332905-k7nhbtljun1fm1qo9faf14urirolc7us.apps.googleusercontent.com"/>
	<cfinvokeargument name="client_secret" value="IE4yFr1RCbO-OdFj5RzOYfsg"/>
	<cfinvokeargument name="authEndpoint" value=""/>
	<cfinvokeargument name="accessTokenEndpoint" value=""/>
	<cfinvokeargument name="redirect_uri" value="wavecoders.ca"/>
</cfinvoke> --->

<cfoutput>
    <cfdump var="#session.myGreeting#">
</cfoutput>


<cfinvoke 
 component="session.myGreeting"
 method="makeAccessTokenRequest"
 returnvariable="makeAccessTokenRequestRet">
	<cfinvokeargument name="code" value="enter_value_here"/>
</cfinvoke>

   
   
   <cfabort>
   




<cfdump var="#initRet#">

  
  <cfabort>
  
  <cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
      <cfinvokeargument name="email" value="mike@mike.com"/>
      <cfinvokeargument name="pass" value="1234"/>
  </cfinvoke>
  
<cfdump var="#data#"><br /> <cfabort>

<cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
      <cfinvokeargument name="email" value="mike@mike.com"/>
      <cfinvokeargument name="pass" value="1234"/>
</cfinvoke>
  
  

  
     <cfdump var="#data#"><br /> 
     
     
     <cfabort>


<cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="auth_token" value="8CFAC650-155D-20D6-04C0C5C350CF5CB5"/>
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
</cfinvoke>
  
     <cfdump var="#data#"><br />



<!--- guest token to validate --->
    <cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="auth_token" value="7482AB70-CA37-E22B-E29942EC0C580FDA"/>
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
  </cfinvoke>
  
    
  <cfdump var="#data#"><br />
  




    <cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="auth_token" value="55C9D005-155D-20D6-0486F84313CBC370"/>
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
      <cfinvokeargument name="email" value="mike@mike.com"/>
      <cfinvokeargument name="pass" value="1234"/>
  </cfinvoke>
  
  
    <cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="auth_token" value="8CFAC650-155D-20D6-04C0C5C350C15CB5"/>
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
  </cfinvoke>
  
     <cfdump var="#data#"><br />
  
  

<cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="auth_token" value="8CFAC650-155D-20D6-04C0C5C350CF5CB5"/>
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
      <cfinvokeargument name="email" value="mike@mike.com"/>
      <cfinvokeargument name="pass" value="1234"/>
</cfinvoke>
  
     <cfdump var="#data#"><br /> 
     
     
<cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
</cfinvoke>
  
    <cfdump var="#data#"><br />
  
  <cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="auth_token" value="55C9D005-155D-20D6-0486F84313CBC370"/>
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
  </cfinvoke>
  
    <cfdump var="#data#"><br />
    
    
  <cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="auth_token" value="8CFAC650-155D-20D6-04C0C5C350CF5CB5"/>
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
      <cfinvokeargument name="email" value="harry@hotmail.com"/>
      <cfinvokeargument name="pass" value="test567"/>
  </cfinvoke>
  
  <cfdump var="#data#"><br />
  
    <cfinvoke component="LiveAPI" method="authenticateUser" returnvariable="data">
      <cfinvokeargument name="bundleID" value="com.klokwerks.chrysler"/>
      <cfinvokeargument name="email" value="harry@hotmail.com"/>
      <cfinvokeargument name="pass" value="test567"/>
  </cfinvoke>
  
    <cfdump var="#data#"><br />
  
<cfabort>
  

<cfset aJSONPath = expandPath('../../liberty/liberty/JSON_10')>

<cfif DirectoryExists(aJSONPath)> 

	<cfdirectory action="list" directory="#aJSONPath#" name="contentJSON"> 
	
    <!--- <cfdump var="#contentJSON#"> --->
    
    <cfset contentStruct = structNew()>
    
    <cfoutput query="contentJSON">
	
		<cfset FileExt=ListLast(name,".")>
        
        <cfif fileExt IS 'json'>
        
            <cfset filePath = '#aJSONPath#/#name#'>
			
			<cfif find("_",filePath) GT 0>
            
                <cffile action = "read" file = "#filePath#" variable = "JSON">
                
                <cfset theStruct = deserializeJson(JSON)>
                
                <cfset structAppend(contentStruct,theStruct)>
            
            </cfif>
            
        </cfif>
	
	</cfoutput>
    
    <cfset newJSON = serializeJson(contentStruct)>
    <cfdump var="#newJSON#">
    
</cfif>

<cfabort>


<cflogin>
 <cfoauth
 type = "Facebook"
 clientid = "YOUR_CLIENT_ID"
 secretkey = "YOUR_SECRET_KEY"
 result = "res"
 redirecturi = "http://localhost:8500/doc/login.cfm" >
 <cfloginuser name = "#res.other.username#" password = "#res.access_token#" roles = "user"/>
</cflogin>
<cflocation url="http://localhost:8500/doc/index.cfm" >


<cfabort>


<!--- getOverides --->
<cfinvoke component="LiveAPI" method="getMaterials" returnvariable="data">
      <cfinvokeargument name="bundleID" value="com.one2.emeraldcity"/>
      <cfinvokeargument name="groupID" value="8969"/>
      <!--- <cfinvokeargument name="spaceID" value="8662"/> --->
</cfinvoke>

<cfdump var="#data#"><cfabort>


<!--- getOverides --->
<cfinvoke component="CFC.Configurator" method="getOverides" returnvariable="data">
      <cfinvokeargument name="projectID" value="8885"/>
      <cfinvokeargument name="assetID" value="8969"/>
      <cfinvokeargument name="spaceID" value="8662"/>
</cfinvoke>

<cfdump var="#data#">


<!--- <cfset a = {"sample":{"other":{6789:0}},"sample2":{6789:0}}>

<cfinvoke component="CFC.Misc" method="findReplaceStuctValue">
  <cfinvokeargument name="theObject" value="#a#"/>
  <cfinvokeargument name="keyToFind" value="6789"/>
  <cfinvokeargument name="valueToReplace" value="12"/>
</cfinvoke>

<cfdump var="#a#">
 --->



<!--- Gets all units from a group that has related views --->
<!--- <cfset visibleView = '1001'> --->
<cfset projectID = 8885>
<cfset groupID = 54>
<cfset visibleView = ''>
<cfset typeCode = ''>
<cfset assetID = 0>
<cfset sizeMin = 800><cfset sizeMax = 0>




<cfinvoke component="LiveAPI" method="getUnitTypeCodes" returnvariable="result">
	<cfinvokeargument name="projectID" value="#projectID#"/>
</cfinvoke>

<cfdump var="#result#"><cfabort>




<!--- get projectID from AssetID --->
<cfinvoke component="CFC.Configurator" method="getProjectFromAssetID" returnvariable="projectInfo">
    <cfinvokeargument name="assetID" value="8969"/>
</cfinvoke>

<cfset projectID = projectInfo.id>

<cfdump var="#data#">
<cfabort>



<cfinvoke component="CFC.Units" method="searchForUnits" returnvariable="unitViews">
	<cfinvokeargument name="projectID" value="#projectID#"/>
    <cfinvokeargument name="groupID" value="#groupID#"/>
<!---     <cfinvokeargument name="views" value="#visibleView#"/>
    <cfinvokeargument name="typeCode" value="#typeCode#"/>
    <cfinvokeargument name="assetID" value="#assetID#"/>
    <cfinvokeargument name="sizeMin" value="0"/>
    <cfinvokeargument name="sizeMax" value="0"/> --->
</cfinvoke>

<cfdump var="#unitViews#">





<cfset projectID = 8885>

<cfinvoke component="CFC.Units" method="getUnitPlans" returnvariable="result">
	<cfinvokeargument name="groupID" value="54"/>
    <!--- <cfinvokeargument name="projectID" value="#projectID#"/> --->
    <!--- <cfinvokeargument name="unitID" value="25"/> --->
    <!--- <cfinvokeargument name="assetID" value="8887"/> --->
</cfinvoke>

<cfdump var="#result#"><cfabort>

<cfabort>

<!--- <cfset projectID = 8885>

<cfinvoke component="LiveAPI" method="getGroups" returnvariable="groups">
	<cfinvokeargument name="projectID" value="#projectID#"/>
</cfinvoke>



   <cfdump var="#groups#"><cfabort> --->
 











<cfinvoke component="CFC.EMail" method="sendEmail" returnvariable="sentEmail">
    <cfinvokeargument name="cartID" value="2541"/>
</cfinvoke>



<cfdump var="#sentEmail#"><cfabort>



<cfinvoke component="CFC.GroupedAssets" method="getAllAssetsInGroup" returnvariable="data">
	<cfinvokeargument name="groupID" value="436"/>
</cfinvoke>
    
<cfdump var="#data#"><cfabort>



<cfhtmltopdf source="https://gist.github.com/thilo/3742120" />

<cfabort>

<cfinvoke  component="CFC.Assets" method="getAssets" returnvariable="balconies">
    <cfinvokeargument name="AssetTypeID" value="9"/>
    <cfinvokeargument name="AppID" value="49"/>
    <!--- <cfinvokeargument name="groupID" value="987"/> --->
</cfinvoke>

<cfdump var="#balconies#"><cfabort>


<!--- <cfinvoke  component="CFC.Access" method="validateAccessCode" returnvariable="data">
    <cfinvokeargument name="auth_token" value="AED2D13F-0A2B-19E3-0D659705046C47EA"/>
    <cfinvokeargument name="groupID" value="1888"/>
    <cfinvokeargument name="unlockCode" value="MW2200"/>
</cfinvoke>  

<cfdump var="#data#"><cfabort> --->

 
<!--- <cfinvoke  component="CFC.Access" method="addUserGroupAccess" returnvariable="success">
    <cfinvokeargument name="userIDs" value="644"/>
    <cfinvokeargument name="groupID" value="1888"/>
</cfinvoke>  --->


<!--- <cfinvoke  component="LiveAPI" method="getUserAccessCodes" returnvariable="data1">
    <cfinvokeargument name="auth_token" value="AED2D13F-0A2B-19E3-0D659705046C47EA"/>
</cfinvoke> 

<cfdump var="#data1#"><cfabort> --->

<!--- <cfinvoke  component="CFC.Access" method="getUserAccessGroups" returnvariable="data1">
    <cfinvokeargument name="auth_token" value="AED2D13F-0A2B-19E3-0D659705046C47EA"/>
</cfinvoke> 

<cfinvoke  component="CFC.Access" method="getUserAccessGroups" returnvariable="data2">
    <cfinvokeargument name="auth_token" value="08B99BF7-BAD3-E893-6FC3E7295B54BBF1"/>
</cfinvoke> 

<cfdump var="#data1#"><cfdump var="#data2#"> --->



<!--- <cfinvoke  component="CFC.Access" method="updateUserAccess" returnvariable="user">
    <cfinvokeargument name="userIDs" value="993,1298,12981"/>
</cfinvoke> --->



<cfabort>

<!--- remove access --->
<!--- <cfinvoke  component="CFC.Access" method="removeUsersAccess" returnvariable="data">
    <cfinvokeargument name="userIDs" value="1298,993"/>
    <cfinvokeargument name="groupID" value="10116"/>
</cfinvoke> 

<cfdump var="#data#"> --->
<cfabort>


<!--- FromLatitude, FromLongitude, ToLatitude, ToLongitude --->
<!--- 
<cfinvoke  component="CFC.Misc" method="GetLatitudeLongitudeProximity" returnvariable="data">
    <cfinvokeargument name="FromLatitude" value="40.713419099275846"/>
    <cfinvokeargument name="FromLongitude" value="-74.00818437337875"/>
    <cfinvokeargument name="ToLatitude" value="40.71324120584622"/>
    <cfinvokeargument name="ToLongitude" value="-74.00773242115974"/>
    <cfinvokeargument name="unit" value="foot"/>
</cfinvoke>  

<cfdump var="#data#">
<cfabort>

 --->
 
 
 
<!--- <cfset userInfo ='{"name":"Mike Gino", "email":"gino@gino.com", "pass":""}'>

<cfinvoke component="LiveAPI" method="createCustomer" returnvariable="info">
    <cfinvokeargument name="bundleID" value="com.one2.emeraldcity">
    <cfinvokeargument name="auth_token" value="51E38D51-155D-20D6-0493BB1243F72779"/>
    <cfinvokeargument name="clientInfo" value="#userInfo#"/>
</cfinvoke>

<cfdump var="#info#"><cfabort>


<cfinvoke  component="LiveAPI" method="setAssignment" returnvariable="data">
      <cfinvokeargument name="auth_token" value="51E38D51-155D-20D6-0493BB1243F72779"/>
      <cfinvokeargument name="custID" value="17807"/>
      <cfinvokeargument name="unitID" value="6"/>
 </cfinvoke>  

<cfdump var="#data#"><cfabort> --->


<cfabort>

<cfinvoke  component="CFC.Units" method="getAssignments" returnvariable="data">
  <cfinvokeargument name="projectID" value="8885"/>
  <cfinvokeargument name="userID" value="20458"/>
</cfinvoke>  

<cfloop collection="#data.floors[1]#" item="theKey"></cfloop>


<cfdump var="#data#"><cfabort>
<cfdump var="#data.floors[1][theKey].details#"><cfabort>


<!--- Put this to get the callStack --->
<cfscript>
		// First, we'll see what the call-stack from a ColdFusion
		// error object looks like. For this, we'll have to raise an
		// exception and catch it.
		showErrorStack = function(){
			try {
				// Raise an exception so we can access the call stack.
				throw( type = "DemoError" );
			} catch ( DemoError error ){
				writeDump( var = error, label = "Error" );
			}
		};
		// Now, we'll see what the call-stack from the new ColdFusion 10
		// callstackGet() function looks like.
		showCallStack = function(){
			writeDump( var = callstackGet(), label = "Call Stack" );
		};
		// ------------------------------------------------------ //
		// ------------------------------------------------------ //
		// Show both call stack versions.
		showErrorStack();
		writeOutput( "<br />" );
		showCallStack();
	</cfscript>



<!--- Get Actions and Assets --->
<cfinvoke  component="CFC.Modules" method="getGroupAssetsActions" returnvariable="allAssetsActions">
  <cfinvokeargument name="assetID" value="6942"/>
</cfinvoke>  

<cfdump var="#allAssetsActions.assets.content_id#"><cfabort>


<!---getMaterials --->
<cfinvoke component="CFC.Configurator" method="getOptions" returnvariable="theData">
    <cfinvokeargument name="assetID" value="6942"/>
    <cfinvokeargument name="optionID" value="6887"/>
</cfinvoke>

<cfdump var="#theData#"><cfabort>


<!--- Get Defaults --->
<cfinvoke component="CFC.Configurator" method="getAllDefaultOptions" returnvariable="theDefaults">
    <cfinvokeargument name="appID" value="63"/>
    <cfinvokeargument name="option" value="1"/>
</cfinvoke>

<cfdump var="#theDefaults#"><cfabort>


<cfinvoke component="LiveAPI" method="getUnitAssignments" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.one2.emeraldcity"/>
</cfinvoke>


<cfabort>

<!--- search --->
<cfinvoke component="LiveAPI" method="searchUnits" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.one2.emeraldcity"/>
    <cfinvokeargument name="search" value="1004"/>
    <cfinvokeargument name="columns" value="unitName"/>
    <cfinvokeargument name="exactMatch" value="false"/>
    <cfinvokeargument name="maxReturns" value="0"/>
</cfinvoke>

<cfdump var="#data#"><cfabort>



<!--- search --->
<cfinvoke component="CFC.Units" method="getUnitAssignments" returnvariable="data">
    <cfinvokeargument name="appID" value="63"/>
    <cfinvokeargument name="assigned" value="false"/>
    <!--- <cfinvokeargument name="groupID" value="50"/> --->
    <cfinvokeargument name="unitType" value="0"/>
</cfinvoke>

<cfdump var="#data#"><cfabort>


<cfinvoke component="LiveAPI" method="getUnit" returnvariable="data">
    <cfinvokeargument name="unitID" value="3"/>
</cfinvoke>

<cfdump var="#data#"><cfabort>




<cfquery name="colorData"> 
    UPDATE Users
    SET userType=0
</cfquery>

<cfabort>




<cfquery name="colorData"> 
    SELECT	*
    FROM	SessionCart
    WHERE app_id = 48 
</cfquery>

<cfdump var="#colorData#">

<!--- <cfinvoke component="CFC.EMail" method="sendEmail" returnvariable="sentEmail">
    <cfinvokeargument name="cartID" value="1652"/>
</cfinvoke> --->

<!--- <cfdump var="#sentEmail#"><cfabort>

<cfinvoke component="CFC.EMail" method="sendEmail" returnvariable="sentEmail">
    <cfinvokeargument name="cartID" value="1640"/>
</cfinvoke>
 --->


<!--- <cfinvoke component="Apps" method="getContentJSON" returnvariable="data">
        <cfinvokeargument name="appID" value="#appID#">
        <cfinvokeargument name="groupID" value="-1">
    </cfinvoke>
    
    <cfdump var="#data#"><cfabort>

<cfinvoke component="LiveAPI" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.klokwerks.vida"/>
</cfinvoke>

<cfabort>


<cfinvoke component="CFC.Content" method="getAsset" returnvariable="data">
    <cfinvokeargument name="assetID" value="3154"/>
</cfinvoke>

<cfdump var="#data#">

<cfinvoke component="CFC.Content" method="getAssetsActions" returnvariable="data">
    <cfinvokeargument name="assetID" value="3154"/>
</cfinvoke>

<cfdump var="#data#">

<cfinvoke component="CFC.Modules" method="getGroupAssets" returnvariable="data">
    <cfinvokeargument name="assetID" value="3154"/>
</cfinvoke>


<cfdump var="#data#">
<cfabort> 

<!--- Get Bookmarks --->
<cfinvoke component="LiveAPI" method="getBookmarks" returnvariable="success">
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
   <!---  <cfinvokeargument name="groupID" value="1500"/>
    <cfinvokeargument name="assetID" value="2632"/> --->
</cfinvoke>

<cfdump var="#success#">
<cfabort>
--->
<cfset bookmarks = '{"1500":[{"assetID":2631,"marker":5000, "watched":4}]}'>

<!--- Sync Bookmarks --->
<cfinvoke component="LiveAPI" method="syncBookmarks" returnvariable="success">
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="bookmarks" value="#bookmarks#"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>







<cfset bookmarks = [{'groupID':1500, 'assetID':2631, 'marker':5000, 'watched':4},{'groupID':1500, 'assetID':2632, 'marker':10000, 'watched':4},{'groupID':1574, 'assetID':2643, 'marker':30000, 'watched':4},{'groupID':1500, 'assetID':2639, 'marker':10000, 'watched':4}]>

<cfinvoke component="CFC.tracking" method="setBookmarks" returnvariable="success">
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="bookmarks" value="#bookmarks#"/>
</cfinvoke>
<cfdump var="#success#">
<cfabort>





<!--- Remove Group Assets --->
<cfinvoke component="LiveAPI" method="clearBookmarks" returnvariable="success">
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>




<!--- Get Group Assets --->
<cfinvoke component="LiveAPI" method="getContent" returnvariable="data">
    <cfinvokeargument name="groupID" value="1500"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
</cfinvoke>

<cfdump var="#data#">
<cfabort>

<!--- Get Group Assets --->
<cfinvoke component="LiveAPI" method="setBookmark" returnvariable="success">
    <cfinvokeargument name="groupID" value="1500"/>
    <cfinvokeargument name="assetID" value="2639"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="currentTime" value="200"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>

<!--- Remove Group Assets --->
<cfinvoke component="LiveAPI" method="removeBookmark" returnvariable="success">
    <cfinvokeargument name="groupID" value="1500"/>
    <cfinvokeargument name="assetID" value="2631"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>

<!--- http://localhost:8500/liveplatform_dev/API/v10/LiveAPI.cfc?method=trackQuizResponse&auth_token=2BC66C70-BA9B-F3FA-FECC680E3E73E618&groupID=1888&assetID=2561&date=1436446358&duration=120&selection=133,134,117,118&numberOfTries=3 --->
<!--- Get Group Assets --->
<cfinvoke component="CFC.Tracking" method="trackQuizResponse" returnvariable="success">
    <cfinvokeargument name="groupID" value="1888"/>
    <cfinvokeargument name="assetID" value="2561"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="date" value="1436446360"/>
    <cfinvokeargument name="duration" value="0"/>
    <cfinvokeargument name="selection" value="133,134,117,118"/>
    <cfinvokeargument name="numberOfTries" value="3"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>










<!--- Get Group Assets --->
<cfinvoke component="LiveAPI" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.liveadz.sample"/>
</cfinvoke>
<cfdump var="#data#">
<cfabort>


<!--- Get Group Assets --->
<cfinvoke component="CFC.Tracking" method="resetQuizResponse" returnvariable="success">
    <cfinvokeargument name="groupID" value="1888"/>
    <cfinvokeargument name="assetID" value="2561"/>
    <cfinvokeargument name="auth_token" value="2BC66C70-BA9B-F3FA-FECC680E3E73E618"/>
    <cfinvokeargument name="dateFrom" value="1436446359"/>
    <cfinvokeargument name="dateTo" value="1436446360"/>
</cfinvoke>

<cfdump var="#success#">
<cfabort>



<!--- Get Group Assets --->
<cfinvoke component="CFC.Modules" method="getGroupContent" returnvariable="theGroupData">
    <cfinvokeargument name="groupID" value="0"/>
    <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfdump var="#theGroupData#">
<cfabort>







<!--- Get Group Assets --->
<cfinvoke component="CFC.Modules" method="getGroupContent" returnvariable="theGroupData">
    <cfinvokeargument name="groupID" value="0"/>
    <cfinvokeargument name="appID" value="54"/>
    <cfinvokeargument name="fullStructure" value="no"/>
</cfinvoke>

<cfdump var="#theGroupData#">
<cfabort>








<cfinvoke component="CFC.Content" method="getAssetContent" returnvariable="objectModel">
    <cfinvokeargument name="assetID" value="135"/>
</cfinvoke>

<cfdump var="#objectModel#">
<cfabort>

<cfinvoke component="CFC.Content" method="getGroupContent" returnvariable="objectModel">
    <cfinvokeargument name="groupID" value="1888"/>
    <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfdump var="#objectModel#">


<cfinvoke component="CFC.Content" method="getAssetsActions" returnvariable="objectModel">
    <cfinvokeargument name="assetID" value="135"/>
</cfinvoke>

<cfdump var="#objectModel#">

<cfabort>


<cfset quizTF = [{"message":"Yes","correct":true , "choice_id":0},{"message":"No","correct":false, "choice_id":1}]>
<cfset quizMulti = [{"message":"Selection 1 Question","correct":true, "choice_id":0},{"message":"Selection 1 Question","correct":false, "choice_id":1},{"message":"Selection 3 Question","correct":false, "choice_id":3},{"message":"Selection 4 Question","correct":false, "choice_id":4}]>

<cfinvoke component="CFC.ObjectModels" method="quizModel" returnvariable="objectModel">
    <cfinvokeargument name="choices" value="#quizMulti#"/>
</cfinvoke>

<cfset JSON = serializeJSON(objectModel)>

<cfdump var="#JSON#">

<cfabort>


<cfimage action="read" source="http://liveplatform.net/castlegroup/vida/assets/images/Floor2KP_Markers.jpg" name="objImage" />

<cfinvoke  component="CFC.objImageUtils" method="GetPixels" returnvariable="theImage">
	<cfinvokeargument name="Image" value="#objImage#"/>
</cfinvoke>

<cfset allColors = {"oneBedroom":"AA1F0A", "twoBedroom":"336F28", "oneBedroomden":"F15740", "twoBedroomden":"6F3128"}>
<cfset found = StructFindValue(allColors,"336F28")>
<cfdump var="#found#">
<cfabort>
<cfset theImagePoints = {}>

<cfloop index="intY" from="1" to="#ArrayLen( theImage )#" step="1">

	<!--- Loop over x axis. --->
    <cfloop index="intX" from="1" to="#ArrayLen( theImage[ intY ] )#" step="1">
    
        <!--- Get the pixel short-hand from the array. --->
        <cfset objPixel = theImage[ intY ][ intX ] />
        
        <!--- <cfloop collection="#allColors#" item="key"> --->
        
        <cfset found = StructFindValue(allColors,objPixel.hex)>
        
            <!--- <cfset aColor = allColors[key]> --->

            <cfif arrayLen(found) GT 0>
       <cfdump var="#found#"><cfdump var="#found.hex#"> <cfabort>   	
                <cfset theKey = allColors[found]>
            
                <cfif structFind(theImagePoints,theKey) GT 0>
                    <cfset arrayAppend(theImagePoints[theKey],{'x':intX, 'y':intY})>
                <cfelse>
                    <cfset structAppend(theImagePoints,{'#theKey#':[]})>
                    <cfset arrayAppend(theImagePoints[theKey],{'x':intX, 'y':intY})>
                </cfif>
            
            </cfif>
        
        <!--- </cfloop> --->
    
    </cfloop>

</cfloop>

<cfdump var="#theImagePoints#">
    
<cfabort>


<!--- on imageProcess img,colorMarkers

  theImagePoints = [:]
  
  repeat with x = 1 to img.width
    
    repeat with y = 1 to img.width
      
      thePixel = img.getPixel(x, y)
      if thePixel = 0 then next repeat
      theColor = RGBToHexColor(thePixel)
      
      repeat with i = 1 to colorMarkers.count
        
        theGroupName = colorMarkers.getPropAt(i)
        theColorToFind = colorMarkers[i]
        
        if theColor = theColorToFind then
          
          found = theImagePoints.findPos(theGroupName)
          
          if found > 0 then
            theImagePoints[found].append(point(x,y))
          else
            theImagePoints.addProp(theGroupName, [point(x,y)])
          end if
          
        end if
        
      end repeat
      
    end repeat
    
  end repeat
  
  return theImagePoints
  
end
 --->



<cfabort>
<cfset objImageUtils = CreateObject( "component", "CFC.objImageUtils" ).Init() />
    
    <cfimage action="read" source="http://liveplatform.net/pennwell/pennwell/assets/images/thumbs/body-equipment.jpg" name="objImage" />
    
    <!--- Read in 50 x 50 pixels. --->
    <cfset arrPixels = objImageUtils.GetPixels(objImage,200,185,50,50) />
    
   <cfinvoke  component="CFC.objImageUtils" method="GetPixels" returnvariable="objImageUtils"/>
    
<cfloop index="intY" from="1" to="#ArrayLen( arrPixels )#" step="1">
 
        <div class="row">

            <!--- Loop over x axis. --->
            <cfloop index="intX" from="1" to="#ArrayLen( arrPixels[ intY ] )#" step="1">

                <!--- Get the pixel short-hand from the array. --->
                <cfset objPixel = arrPixels[ intY ][ intX ] />

                <div class="pixel" style="background-color: ###objPixel.Hex#;"></div>

            </cfloop>

        </div>

    </cfloop>

<cfabort>


<!--- <cfset info = {'name':'Mike','email':'mike@hotmail.com','country':'canada'}>

<cfinvoke  component="LiveAPI" method="gameStart" returnvariable="data">
  <cfinvokeargument name="auth_token" value="860C9118-A287-7E7F-9514BB7092E9800A"/>
  <cfinvokeargument name="gameID" value="2126"/>
  <cfinvokeargument name="assetID" value="2137"/>
  <cfinvokeargument name="userInfo" value="#info#"/>
</cfinvoke>

<cfdump var="#data#"> --->

<!--- <link href="styles.css" rel="stylesheet" type="text/css" />

<style>
    #container { display:block; margin:0; padding:0; width:800px; height:44px;}
	#left-element { float:left; display:block; width:50px; height:44px;}
	#middle-element { float:left; display:block; margin-left:10px; padding-top:10px; width:280px; height:34px;}
	#right-element { float:left; display:block; margin-left:10px; padding-top:10px;; width:170px; height:34px;}
	#done-element { float:left; display:block; margin-left:10px; padding-top:10px;; width:90px; height:34px;}
</style>

<cfinvoke  component="CFC.Games" method="getAllGames" returnvariable="games">
    <cfinvokeargument name="bundleID" value="com.liveadz.pennwellar"/>
</cfinvoke>

<cfoutput query="games">
  
    <cfinvoke  component="CFC.Misc" method="convertEpochToDate" returnvariable="startDate">
        <cfinvokeargument name="TheEpoch" value="#games.dateStart#"/>
    </cfinvoke>
    
    <cfinvoke  component="CFC.Misc" method="convertEpochToDate" returnvariable="endDate">
        <cfinvokeargument name="TheEpoch" value="#games.dateEnd#"/>
    </cfinvoke>
    
    <div id="container" style="padding-top:10px;">
    <span class="bannerHeading">#name#</span><br />
    </div>
    <div id="container" style="padding-top:10px;">
    <span class="contentLinkGrey">Starts:#dateFormat(startDate,'DDDD, MMMM DD, YYYY')# Ends:#dateFormat(endDate,'DDDD, MMMM DD, YYYY')#</span>
    </div>
    
    <cfset gameID = asset_id>

   <cfinvoke  component="CFC.Games" method="getGameUsers" returnvariable="gameUsers">
     <cfinvokeargument name="gameID" value="#asset_id#"/>
   </cfinvoke>

  <cfloop query="gameUsers">
    
    <cfinvoke  component="CFC.Games" method="getGameUserAssetCount" returnvariable="userGame">
      <cfinvokeargument name="gameID" value="#gameID#"/>
      <cfinvokeargument name="userID" value="#user_id#"/>
    </cfinvoke>
    
    
    
        <cfinvoke  component="CFC.Games" method="getGameUserAssets" returnvariable="gameInfo">
            <cfinvokeargument name="gameID" value="#gameID#"/>
            <cfinvokeargument name="userID" value="#user_id#"/>
        </cfinvoke>
		
        <div id="container">
            <div class="contentLinkGrey" id="middle-element">#name#</div>
          <div class="contentLink" id="middle-element">#email#</div> 
            <cfif gameInfo.done><span class="contentLinkRed">(Completed)</span><cfelse></cfif>
        </div>
        
    <cfloop index="collectedObject" array="#gameInfo.assets#">

			<!--- Date --->
            <cfinvoke  component="CFC.Misc" method="convertEpochToDate" returnvariable="objDate">
                <cfinvokeargument name="TheEpoch" value="#collectedObject.date#"/>
            </cfinvoke>
        
        	<cfset imageURL = collectedObject.url>
        	<cfset objName = collectedObject.title>
          
          	<cfset theDate = TimeFormat(objDate, "hh:mm:sstt")>
            
          <div id="container">
            <div id="left-element"><img src='#imageURL#' width="44" height="44" border="1" /></div>
            <div class="contentLink" id="middle-element">#objName#</div>
                <div class="contentLinkGrey" id="right-element">#dateFormat(objDate,'DDD, DD')# at #theDate#</div>
          </div>
        	
            
        </cfloop>
        
        
        
  </cfloop>

</cfoutput> --->



<cfinvoke  component="CFC.Games" method="getUserGameStart" returnvariable="data">
  <cfinvokeargument name="auth_token" value="860C9118-A287-7E7F-9514BB7092E9800A"/>
  <cfinvokeargument name="gameID" value="2126"/>
</cfinvoke>

<cfdump var="#data#">

<cfabort>


<!--- <cfinvoke  component="LiveAPI" method="authenticateUser" returnvariable="token">
    <cfinvokeargument name="bundleID" value="com.liveadz.pennwellar"/>
    <cfinvokeargument name="email" value="mboni@klokwerks.com"/>
    <cfinvokeargument name="code" value="2578425627"/>
</cfinvoke>

<cfdump var="#token#"><cfabort>
CD6DAC57-03CC-768E-66D11E5E8812F58B --->

<!--- <cfinvoke  component="CFC.ObjectModels" method="getObjectModel" returnvariable="data">
    <cfinvokeargument name="typeID" value="19"/>
</cfinvoke>

<cfdump var="#data#">
<cfabort>
 --->
 
 
<cfinvoke  component="CFC.Games" method="getGameUserAssetsCount" returnvariable="data">
  <cfinvokeargument name="auth_token" value="2126"/>
</cfinvoke>

<cfdump var="#data#">
<br />

<cfinvoke  component="CFC.Games" method="getGameAssetsCount" returnvariable="data">
    <cfinvokeargument name="gameID" value="2126"/>
</cfinvoke>

<cfdump var="#data#">

<cfabort>

<cfinvoke  component="LiveAPI" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.liveadz.cuicar"/>
</cfinvoke>
<cfdump var="#data#">

<!--- <cfloop index="assetID" array="#data#">

    <cfinvoke  component="CFC.Modules" method="getContentAsset" returnvariable="assetData">
        <cfinvokeargument name="assetID" value="#assetID#"/>
    </cfinvoke>

	<cfdump var="#assetData#">

</cfloop> --->


<cfabort>


<!--- <cfinvoke component="CFC.Modules" method="getGroupAssets" returnvariable="theAsset">
    <cfinvokeargument name="assetID" value="2125"/>
</cfinvoke>
                
<cfdump var="#theAsset#">          


<cfabort> --->





<cfinvoke component="CFC.Games" method="getGameAssets" returnvariable="theGameAssets">
    <cfinvokeargument name="gameID" value="2126"/>
</cfinvoke>
                
<cfdump var="#theGameAssets#">     

<cfabort>

<cfinvoke component="CFC.Games" method="getGameOptions" returnvariable="theGame">
    <cfinvokeargument name="gameID" value="2126"/>
</cfinvoke>
                
<cfdump var="#theGame#">          


<cfabort>



<cfinvoke component="CFC.Modules" method="getGroupAssets" returnvariable="theAsset">
    <cfinvokeargument name="assetID" value="2087"/>
</cfinvoke>
                
<cfdump var="#theAsset#">          


<cfabort>



<cfset assetIDs = [135]>

<cfinvoke  component="CFC.Assets" method="setGroupAssets" returnvariable="data">
    <cfinvokeargument name="groupID" value="1"/>
    <cfinvokeargument name="assetIDs" value="#assetIDs#"/>
</cfinvoke>

<cfabort>



<link href="styles.css" rel="stylesheet" type="text/css" />

<cfinvoke component="CFC.Assets" method="getAssetsTypes" returnvariable="assetTypes" />

<!--- LiveAPI  --->
<cfajaxproxy cfc="CFC.CMS" jsclassname="assetManager">

<script type="text/javascript">

var importAssets = [];

var jsAssets = new assetManager();

function displayAssets(theType)
{
	jsAssets.setSyncMode();
	jsAssets.setCallbackHandler(successAssetListing);
	jsAssets.getAllAssets(4,theType,importAssets);
}

function successAssetListing(result)
{
	theAssets = document.getElementById('displayAssets');
	theAssets.innerHTML = result;
}
</script>

<script type="text/javascript">
			
function setCheckmarkState(theObj)	{

	if(theObj.className == "checkmarkNormal")
	{
		theObj.className = "checkmarkSelected";
		setContentID(theObj.id,1);
	}else{
		theObj.className = "checkmarkNormal";
		setContentID(theObj.id,0);
	}

}

function setContentID(theObj,state)
{
	theIds = document.getElementById('contentIDs');
	foundObj = importAssets.indexOf(theObj);
	
	if(state == 1)
	{
		//add
		if(foundObj == -1)
		{
			importAssets.push(theObj);
		}
		
	}else{
		//remove
		importAssets.splice(foundObj, 1);
	}
	
	theAssetCnt = document.getElementById('totalAssets');
	theAssetCnt.innerHTML = "Total Assets to Import: "+ importAssets.length;
}

function allSelctedContent()
{
	console.log(importAssets);
	
	displayImporter();
}

function displayImporter(state)
{
	theObj = document.getElementById('assetImporter');
	
	if(theObj.style.display == "none")
	{
		theObj.style.display = "inline";
		
	}else{
		theObj.style.display = "none";
	}
	
	resetAssetImport();
}

function resetAssetImport()
{
	importAssets = [];
	selected = document.getElementById('assetTypes');
	selected.selectedIndex = 0;
	displayAssets(0);
}

</script>


<a onclick="displayImporter()">
<img src="images/import.png" width="44" height="44" />
</a>

<div style="width:800px; display:none" id="assetImporter">

	<cfoutput>
    <form method="get" style="height:40px">
      <select name="assetTypes" id="assetTypes" onchange="displayAssets(this.options[this.selectedIndex].value)" style="height:44px; margin:0px;">
        <option value="0">All Asset Types</option>
        <cfloop query="assetTypes">
            <option value="#type#">#name#</option>
        </cfloop>
      </select>
      <input type="button" class="formText" value="Import Content" onclick="allSelctedContent()" />
      <input name="contentIDs" type="hidden" id="contentIDs" />
      <div class="contentLinkGrey" id="totalAssets" style="width:180px; float:right; padding-top:15px"></div>
    </form>
    </cfoutput>
    
    <div id="displayAssets" style="overflow:scroll; height:400px; overflow-x: hidden;"></div>

</div>


<cfabort>

<!--- <cfinvoke  component="CFC.Modules" method="getGroupDetails" returnvariable="data">
    <cfinvokeargument name="groupID" value="963"/>
</cfinvoke>

<cfinvoke component="CFC.Misc" method="QueryToStruct" returnvariable="theData">
  <cfinvokeargument name="query" value="#data#"/>
  <cfinvokeargument name="forceArray" value="true"/>
</cfinvoke>

<cfif arrayLen(theData) GT 0>
    
    <cfset theAsset = theData[1]>
    
    <cfif theAsset.assetType_id IS ''>
    	<cfset StructDelete(theAsset,'assetType_id')>
    </cfif>
    
    <cfinvoke  component="CFC.Modules" method="getDetailsData" returnvariable="detailsData">
        <cfinvokeargument name="data" value="#theAsset#"/>
    </cfinvoke>
    
    <cfinvoke  component="CFC.Modules" method="getThumbData" returnvariable="thumbsData">
        <cfinvokeargument name="data" value="#theAsset#"/>
        <cfinvokeargument name="appID" value="#appID#"/>
        <cfinvokeargument name="server" value="yes"/>
    </cfinvoke>
    
    <cfdump var="#detailsData#">
    <cfdump var="#thumbsData#">
    
</cfif> --->

<!--- 
<cfinvoke  component="CFC.Modules" method="getGroups" returnvariable="data">
    <cfinvokeargument name="groupID" value="963"/>
    <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfdump var="#data#">

<cfabort>
 --->

<!--- <cfinvoke  component="CFC.Modules" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="appID" value="21"/>
</cfinvoke>

<cfdump var="#data#"> --->


<cfinvoke  component="LiveAPI" method="getCachedContent" returnvariable="data">
    <cfinvokeargument name="bundleID" value="com.liveadz.sample"/>
</cfinvoke>

<cfdump var="#data#">
