  <table width="800" border="0" cellspacing="10">
	<tr>
	  <td width="80" align="right" class="content">&nbsp;</td>
	  <td width="44">&nbsp;</td>
	  <td>&nbsp;</td>
	</tr>
	<tr>
	  <td colspan="3" align="right"><hr size="1" /></td>
	</tr>
	<tr>
	  <td align="right" class="content">&nbsp;</td>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
	  </tr>
  </table>