<style type="text/css">
.container_placeholder {
	position:relative;
	width:160px;
	height:200px;
	background-color: #EEE;
	border: thin solid #333;
}
.img_placeholder {
	position:absolute;
	top:-44px;
	left:-22px;
	margin:50% 0 0 50%
}
</style>
<cfoutput>
	<cfif fileExists(thePDF)>
        <a href="#thePDF#" target="_new" class="contentLink">
            <div class="container_placeholder">
              <img src="Assets/document.png" width="44" height="44" class="img_placeholder">
            </div>
        </a>
    <cfelse>
    		<div class="container_placeholder">
              <img src="Assets/document.png" width="44" height="44" class="img_placeholder">
            </div>
    </cfif>
</cfoutput>